@model IEnumerable<YifatTshuvaP1.Models.Class>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing information about all classes</p>

<div id="containerlist">
    <h2>List of Classes</h2>
    @foreach (var classitem in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Class/Show/@classitem.ClassId">@classitem.ClassName @classitem.ClassCode</a></div>
        </div>
    }
</div>



