@model YifatTshuvaP1.Models.Class
@{
    ViewBag.Title = "Show";
}

<h2>Show Class</h2>


<a class="navlink" href="/Class/List">Back To Classes</a>
<div id="containershow">
    <h2>@Model.ClassName @Model.ClassCode</h2>
    <p>@Model.ClassId</p>
</div>

